<header class="header fixtop">
  <h1 class="hidden">header page</h1>
  <section class="header-container">
    <a class="dovepay-img-logo" href="https://www.dovepay.com/"></a>
    <span id="quitBtn" data-url=<%= urls.log.logout %> class="button button-small button-pill">
      <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 退出登录
    </span>
    <h2>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<%= type %>商户
      <span id="userId"><%= userId %></span>,&nbsp;
      <span id="accountId"><%= accountId %></span>
    </h2>
  </section>
</header>