<header id="dpfHeader" class="header fixtop">
  <input type="hidden" id="userId" value=<%= userId %>>
  <input type="hidden" id="accountId" value=<%= accountId %>>
  <input type="hidden" id="userType" value=<%= type %>>
  <h1 class="hidden">header page</h1>
  <section class="header-container uk-container uk-container-xlarge">
    <a class="dovepay-img-logo" href="https://www.dovepay.com/"></a>
    <span id="quitBtn" data-url="<%= urls.log.logout %>" class="button button-small button-pill">
      <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 退出登录
    </span>
    <h2>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <% if (type === 'station') { %>
        &nbsp;货站用户: <%= userId %>
      <% } else if (type === 'agent') { %>
        <input type="hidden" name="api_getAgentName" value=<%= urls.api.consumer.getBindConsumer %>>
        <span id="agentNameInHeader">&nbsp;货代用户: <%= userId %></span>
      <% } else if (type === 'system') { %>
        &nbsp;系统运营用户: <%= userId %>
      <% } %>
    </h2>
  </section>
</header>