<main id="dpfMain">
  <hr>
  <section class="uk-container uk-container-xlarge">

    <% if (type == 'station') { %>
      <% if (name == 'userInfo') { %>
        <%- include('components/station/userManagement/userInfo.html') %>
      <% } else if (name == 'discountPolicies') { %>
        <%- include('components/station/userManagement/discountPolicies.html') %>
      <% } else if (name == 'discountPoliciesManagement') { %>
        <%- include('components/station/userManagement/discountPoliciesManagement.html') %>
      <% } else if (name == 'discountPoliciesManagementDetails') { %>
        <%- include('components/station/userManagement/discountPoliciesManagementDetails.html') %>
      <!-- 新需求新增: -->
      <% } else if (name == 'billsSetting') { %>
        <%- include('components/station/billsSetting/index.html') %>
      <% } else if (name == 'billsSetting_addRule') { %>
        <%- include('components/station/billsSetting/addRule.html') %>
      <% } else if (name == 'baseData') { %>
        <%- include('components/station/baseData.html') %>
      <% } else if (name == 'queryBills') { %>
        <%- include('components/station/billManagement/queryBills.html') %>
      <% } else if (name == 'queryBills_bill') { %>
        <%- include('components/station/billManagement/index_new.html') %>
      <% } else if (name == 'queryBills_details') { %>
        <%- include('components/station/billManagement/details_new.html') %>
      <% } else if (name == 'dataStatistic') { %>
        <%- include('components/station/dataStatistic/index.html') %>
      <% } else if (name == 'dataStatisticDetails') { %>
        <%- include('components/station/dataStatistic/details.html') %>
      <% } %>

    <% } else if (type == 'agent') {%>
      <% if (name == 'accountBinding') { %>
        <%- include('components/agent/accountBinding/accountBinding.html') %>
      <!-- 新需求新增: -->
      <% } else if (name == 'queryBills') { %>
        <%- include('components/agent/billManagement/queryBills.html') %>
      <% } else if (name == 'queryDetails') { %>
        <%- include('components/agent/billManagement/details_new.html') %>
      <% } %>

    <% } else if (type == 'system') {%>
      <% if (name == 'userInfoManagement') { %>
        <%- include('components/system/userInfoManagement.html') %>
      <!-- 新需求新增: -->
      <% } else if (name == 'baseData') { %>
        <%- include('components/system/baseData.html') %>
      <% } else if (name == 'queryBills') { %>
        <%- include('components/system/queryBills.html') %>
      <% } else if (name == 'queryBills_bill') { %>
        <%- include('components/system/index_new.html') %>
      <% } else if (name == 'queryBills_details') { %>
        <%- include('components/system/details_new.html') %>
      <% } else if (name == 'policiesManagement') { %>
        <%- include('components/system/policiesManagement.html') %>
      <% } else if (name == 'policyDetails') { %>
        <%- include('components/system/policyDetails.html') %>
      <% } else if (name == 'dataStatistic') { %>
        <%- include('components/station/dataStatistic/index.html') %>
      <% } else if (name == 'dataStatisticDetails') { %>
        <%- include('components/station/dataStatistic/details.html') %>
      <% } %>
    <% } %>

  </section>
</main>