<input type="hidden" data-pageId="consumer_getBindConsumer">
<input type="hidden" name="api_getBindConsumer" value=<%= urls.api.consumer.getBindConsumer%>>
<input type="hidden" name="api_bindConsumer" value=<%= urls.api.consumer.bindConsumer%>>
<section class="breadcrumb">
  <ul>
    <li>账户绑定</li>
    <li><%= title %></li>
  </ul>
</section>
<hr>
<form id="form_consumer_getBindConsumer" class="uk-form-horizontal">
  <input type="hidden" name="status">
  <input type="hidden" name="customerId">
  <div class="uk-margin">
    <label for="companyName" class="uk-form-label" for="customerNameChn">货运公司名称</label>
    <input type="text" class="uk-input uk-width-1-3" name="customerNameChn" readonly>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label void"></label>
    <button id="setBindBtn" class="button button-primary button-rounded"></button>
  </div>
</form>