<input type="hidden" data-pageId="system_baseData">
<input type="hidden" name="dict_api" value=<%= urls.api.dict%>>
<input type="hidden" name="api_queryEffectiveBillRule" value="">
<input type="hidden" name="api_forTable" value=<%= urls.api.system.systemQueryOriginalWaybill %>>
<input type="hidden" name="api_forExport" value="">
<input type="hidden" name="api_queryFeeItem" value=<%= urls.api.queryFeeItem %>>
<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-form-stacked">
  <div class="uk-flex">
    <div>
      <label class="uk-form-label" for="staTime">时间(限制之前三个月)</label>
      <div class="uk-form-controls uk-flex uk-flex-middle">
        <input id="startTime" type="text" name="staTime" class="uk-input uk-form-width-medium" placeholder="全部时间" readonly>
        <span class="uk-margin-small-left uk-margin-small-right">至</span>
        <input id="endTime" type="text" name="endTime" class="uk-input uk-form-width-medium" placeholder="全部时间" readonly>
      </div>
    </div>
    <div class="uk-margin-left">
      <label class="uk-form-label" for="stockNo">运单号</label>
      <input type="text" name="stockNo" class="uk-input uk-form-width-medium" placeholder="全部运单">
    </div>
    <div class="uk-margin-left">
      <label class="uk-form-label" for="payMode">结算类型</label>
      <select class="uk-select uk-form-width-medium" name="payMode">
        <option value="">全部</option>
      </select>
    </div>
  </div>
  <div class="uk-margin" hidden>
    <label class="uk-form-label">已生效账单规则（暂时不要）</label>
    <div id="ruleSetsWrap" class="uk-form-controls uk-grid-small" uk-grid>
      <div>
        <label class="void button" uk-tooltip="title: 选择全部账单; pos: bottom">
          <input type="radio" name="billRule" value="" hidden checked>全部
        </label>
      </div>
    </div>
  </div>
  <div class="uk-margin uk-flex uk-flex-center">
    <button id="submitBtn" class="button button-rounded uk-width-small button-primary" type="button">查询</button>
    <input type="reset" class="button button-rounded uk-width-small button-highlight uk-margin-small-left" value="重置">
  </div>
</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-hover">
    <caption class="uk-margin-small" hidden>
      <span class="uk-margin">数据总条数
        <span class="totalCount uk-badge"></span>
      </span>
    </caption>
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>