<input type="hidden" data-pageId="system_systemQueryBill">
<input type="hidden" name="dict_api" value=<%= urls.api.dict%>>
<input type="hidden" name="api_forTable" value=<%= urls.api.system.systemQueryBill%>>
<input type="hidden" name="api_forExport" value=<%= urls.api.system.systemBillExcel%>>
<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-grid-small" uk-grid>
  <input type="hidden" name="type" value=<%= tType %>>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="staTime">开始时间</label>
    <input id="staTime" class="uk-input" type="text" name="staTime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" readonly>
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="endTime">终止时间</label>
    <input id="endTime" class="uk-input" type="text" name="endTime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'staTime\')}'})" readonly>
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="status">结算状态</label>
    <select class="uk-select" name="status">
      <option value="-1">全部</option>
      <option value="1">未支付</option>
      <option value="2">已支付</option>
      <option value="3">支付失败</option>
    </select>
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="customerId">结算客户编码</label>
    <input class="uk-input" type="text" name="customerId">
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="customerName">结算客户名称</label>
    <input class="uk-input" type="text" name="customerName">
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="inAndOut">货运类型</label>
    <select class="uk-select" name="inAndOut"></select>
  </div>
  <div class="uk-width-1-5">
    <label class="uk-form-label" for="payMode">计费方式</label>
    <select class="uk-select" name="payMode">
      <option value="-1">全部</option>
      <option value="CS">现结</option>
      <option value="MP">记账</option>
    </select>
  </div>
  <section class="action-buttons">
    <button id="submitBtn" class="button button-primary button-rounded">查询</button>
    <input type="reset" class="button button-highlight button-rounded" value="清空">
    <button id="exportBtn" class="button button-action button-rounded">导出数据</button>
  </section>
</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-hover">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>