<input type="hidden" data-pageId="system_systemQueryBillDetails_new">
<input type="hidden" name="dict_api" value=<%= urls.api.dict%>>
<input type="hidden" name="api_forTable" value=<%= urls.api.system.systemQueryBillDetails%>>
<input type="hidden" name="api_forExport" value=<%= urls.api.system.systemBillDetailsExcel%>>
<input type="hidden" name="api_queryFeeItem" value=<%= urls.api.queryFeeItem%>>
<input type="hidden" name="api_queryBillDetailsSum" value=<%= urls.api.station.stationQueryBillDetailsSum%>>
<input type="hidden" name="api_queryModifyLog" value=<%= urls.api.station.queryModifyLog%>>
<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><a href=<%- urls.system.index + urls.system.queryBills %>><%= title %></a></li>
    <li><a href=<%- urls.system.index + urls.system.queryBills + '/' + rule %>><%= subTitle %></a></li>
    <li><%= thirdTitle %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-grid-small uk-form-stacked" uk-grid>
  <input type="hidden" name="orderNo" value=<%= orderNo %>>
  <div>
    <label class="uk-form-label" for="stockNo">运单号</label>
    <input class="uk-input uk-form-width-medium" type="text" name="stockNo" placeholder="全部运单">
  </div>
  <div hidden>
    <label class="uk-form-label" for="">中转类型</label>
    <select class="uk-select uk-form-width-medium" name="">
      <option value="">全部类型</option>
      <option value="">1</option>
      <option value="">2</option>
    </select>
  </div>
  <div>
    <label class="uk-form-label" for="flight">航班号</label>
    <input class="uk-input uk-form-width-medium" type="text" name="flight" placeholder="全部航班">
  </div>
  <div>
    <label class="uk-form-label" for="sAirPortid">始发站</label>
    <input class="uk-input uk-form-width-medium" type="text" name="sAirPortDes" placeholder="全部站点">
  </div>
  <div>
    <label class="uk-form-label" for="eAirPortid">到达站</label>
    <input class="uk-input uk-form-width-medium" type="text" name="eAirPortDes" placeholder="全部站点">
  </div>
  <div>
    <label class="uk-form-label" for="opedepartId">计费营业点</label>
    <select class="uk-select uk-form-width-medium" name="opedepartId"></select>
  </div>
  <div>
    <label class="uk-form-label" for="version">变更运单筛选</label>
    <select class="uk-select uk-form-width-medium" name="version">
      <option value="-1">全部</option>
      <option value="1">未修改</option>
      <option value="2">已修改</option>
    </select>
  </div>
  <div class="uk-width-1-1 uk-grid-small uk-flex-center uk-margin" uk-grid>
    <div><button id="submitBtn" class="button button-primary button-rounded uk-width-small">查询</button></div>
    <div><input type="reset" class="button button-highlight button-rounded uk-width-small" value="清空"></div>
    <div><button id="exportBtn" class="button button-action button-rounded uk-width-small">导出数据</button></div>
  </div>
</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-middle uk-table-small uk-table-divider">
    <caption class="uk-margin-small" hidden>
      <span class="uk-margin">数据总条数
        <span class="totalCount uk-badge"></span>
      </span>
      <span class="uk-margin-small-left">总计费重量
        <span class="totalWeight uk-badge"></span>
      </span>
      <span class="uk-margin-small-left">总金额
        <span class="totalFee uk-badge"></span>
      </span>
      <span class="uk-margin-small-left">优惠后总金额
        <span class="realTotalFee uk-badge"></span>
      </span>
    </caption>
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>
<div id="modifiedHistory" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h5 class="uk-modal-title">修改记录</h5>
    </div>
    <div class="uk-modal-body">
      <table id="modifiedHistoryTable" class="uk-table uk-table-small uk-table-striped">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="uk-modal-footer uk-text-right">
       <button class="button button-primary button-rounded uk-modal-close" type="button">返回</button>
    </div>
  </div>
</div>