<input type="hidden" data-pageId="system_systemQueryBill_new">
<input type="hidden" name="api_forTable" value=<%= urls.api.system.systemQueryBill%>>
<input type="hidden" name="api_forExport" value=<%= urls.api.system.systemBillExcel%>>
<input type="hidden" name="url_forQueryDetails" value=<%- urls.system.index + urls.system.queryBills + '/' + tType%>>
<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><a href=<%- urls.system.index + urls.system.queryBills %>><%= title %></a></li>
    <li><%= subTitle %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-grid-small uk-form-stacked" uk-grid>
  <input type="hidden" name="billRuleId" value=<%= tType %>>
  <div hidden>
    <label class="uk-form-label">开账时间(之前三十六个月)</label>
    <div class="uk-form-controls uk-flex uk-flex-middle">
      <input id="staTime" type="text" name="orderTimeStart" class="uk-input uk-form-width-medium" placeholder="开始时间" readonly>
      <span class="uk-margin-small-left uk-margin-small-right">至</span>
      <input id="endTime" type="text" name="orderTimeEnd" class="uk-input uk-form-width-medium" placeholder="结束时间" readonly>
    </div>
  </div>
  <div>
    <label class="uk-form-label" for="status">付款状态</label>
    <select class="uk-select uk-form-width-medium" id="form-stacked-select" name="status">
      <option value="-1">全部</option>
      <option value="1">未支付</option>
      <option value="2">已支付</option>
      <!-- <option value="3">支付失败</option> -->
    </select>
  </div>
  <div>
    <label class="uk-form-label" for="customerId">结算客户编码</label>
    <input type="text" name="customerId" class="uk-input uk-form-width-medium" placeholder="全部">
  </div>
  <div>
    <label class="uk-form-label" for="customerName">结算客户名称</label>
    <input type="text" name="customerName" class="uk-input uk-form-width-medium" placeholder="全部">
  </div>
  <!-- 下面两个删除 -->
  <!-- <div>
    <label class="uk-form-label" for="inAndOut">货运类型</label>
    <select class="uk-select uk-form-width-medium" name="inAndOut"></select>
  </div>
  <div>
    <label class="uk-form-label" for="payMode">计费方式</label>
    <select class="uk-select uk-form-width-medium" name="payMode">
      <option value="-1">全部</option>
      <option value="CS">现结</option>
      <option value="MP">记账</option>
    </select>
  </div> -->
  <div class="uk-width-1-1 uk-grid-small uk-flex-center uk-margin" uk-grid>
    <div><button id="submitBtn" class="button button-primary button-rounded uk-width-small">查询</button></div>
    <div><input type="reset" class="button button-highlight button-rounded uk-width-small" value="清空"></div>
    <div><button id="exportBtn" class="button button-action button-rounded uk-width-small">导出数据</button></div>
  </div>
</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-hover">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>