<input type="hidden" data-pageId="system_billMangement_queryBills">
<input type="hidden" name="api_forTable" value=<%= urls.api.system.systemQuerySumBillByRule %>>
<input type="hidden" name="url_forNext" value=<%- urls.system.index + urls.system.queryBills %>>
<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-form-stacked uk-flex-bottom uk-grid-small" uk-grid>
  <div hidden>
    <label class="uk-form-label">负责人</label>
    <input type="text" name="" class="uk-input uk-form-width-medium" placeholder="全部负责人">
  </div>
  <div>
    <label class="uk-form-label" for="billRuleName">账单名称</label>
    <input type="text" name="billRuleName" class="uk-input uk-form-width-medium" placeholder="全部账单">
  </div>
  <div>
    <label class="uk-form-label" for="orderTime">账期(限制之前36个月)</label>
    <div class="uk-form-controls uk-flex uk-flex-middle">
      <input id="startTime" type="text" name="orderTimeStart" class="uk-input uk-form-width-medium" placeholder="全部时间" readonly>
      <span class="uk-margin-small-left uk-margin-small-right">至</span>
      <input id="endTime" type="text" name="orderTimeEnd" class="uk-input uk-form-width-medium" placeholder="全部时间" readonly>
    </div>
  </div>
  <div>
    <button id="submitBtn" class="button button-primary button-rounded uk-form-width-small" type="button">查询</button>
  </div>
</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-hover">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>