<input type="hidden" data-pageId="dataStatistic">

<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
    <li><%= subTitle %></li>
  </ul>
</section>
<hr>
<form id="dataForm" class="uk-form-stacked">
  
  <div class="uk-grid-small" uk-grid>

    <div>
      <label class="uk-form-label" for="">年度</label>
      <input id="" type="text" name="" class="uk-input uk-form-width-medium" readonly>
    </div>

    <div>
      <label class="uk-form-label" for="">往来户编号</label>
      <input type="" name="" class="uk-input uk-form-width-medium" readonly>
    </div>

    <div>
      <label class="uk-form-label" for="">商户编号</label>
      <input type="" name="" class="uk-input uk-form-width-medium" readonly>
    </div>

    <div>
      <label class="uk-form-label" for="">往来户名称</label>
      <input type="" name="" class="uk-input uk-form-width-medium" readonly>
    </div>

    <div>
      <label class="uk-form-label" for="">账单类型</label>
      <input type="" name="" class="uk-input uk-form-width-medium" readonly>
    </div>

  </div>

</form>
<hr>

<ul uk-tab="animation: uk-animation-fade">
  <!-- <li class="uk-active"><a href="#">Left</a></li> -->
  <!-- <li class="uk-disabled"><a>Disabled</a></li> -->
  <li><a href="#">详细数据</a></li>
  <li><a href="#">图表展示</a></li>
</ul>

<ul class="uk-switcher">
  <li>详细数据</li>
  <li>图表展示</li>
</ul>
