<input type="hidden" data-pageId="dataStatistic">

<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
    <li><a href="./dataStatistic/details">goto 查看详细</a></li>
  </ul>
</section>
<hr>

<form id="dataForm" class="uk-form-stacked">
  
  <div class="uk-grid-small" uk-grid>

    <div>
      <label class="uk-form-label" for="">年度</label>
      <input id="" type="text" name="" class="uk-input uk-form-width-medium" placeholder="全部年度" readonly>
    </div>
    <div>
      <label class="uk-form-label" for="">往来户编号</label>
      <input type="" name="" class="uk-input uk-form-width-medium" placeholder="全部往来户编号">
    </div>
    <div>
      <label class="uk-form-label" for="">商户编号</label>
      <input type="" name="" class="uk-input uk-form-width-medium" placeholder="全部商户编号">
    </div>
    <div>
      <label class="uk-form-label" for="">往来户名称</label>
      <input type="" name="" class="uk-input uk-form-width-medium" placeholder="往来户名称">
    </div>
    <div>
      <label class="uk-form-label" for="">账单类型</label>
      <select class="uk-select uk-form-width-medium" name="">
        <option value="">全部类型</option>
      </select>
    </div>

  </div>

  <div class="uk-grid-small uk-flex-center" uk-grid>

    <div>
      <button id="submitBtn" class="button button-rounded uk-width-small button-primary" type="button">查询</button>
    </div>
    <div>
      <input type="reset" class="button button-rounded uk-width-small button-highlight uk-margin-small-left" value="重置">
    </div>
    <div>
      <button id="exportBtn" class="button button-rounded uk-width-small button-action uk-margin-small-left" type="button">导出数据</button>
    </div>

  </div>

</form>
<hr>


