<input type="hidden" data-pageId="dataStatisticIndex">
<input type="hidden" name="api_forTable" value=<%= urls.api.station.stationQueryBillSummary %>>
<input type="hidden" name="api_forExport" value=<%= urls.api.station.stationQueryBillSummaryExcel %>>
<input type="hidden" name="api_queryEffectiveBillRule" value=<%= urls.api.station.queryEffectiveBillRule %>>
<input type="hidden" name="billRuleIdValue" value="">

<section class="breadcrumb">
  <ul>
    <!-- <li>账单管理</li> -->
    <li><%= title %></li>
    <!-- <li><a id="testPostDetails" data-prop1="prop1" data-prop2="prop2" href="./dataStatistic/details">goto 查看详细</a></li> -->
  </ul>
</section>
<hr>

<form id="dataForm" class="uk-form-stacked">
  
  <div class="uk-grid-small" uk-grid>

    <div>
      <label class="uk-form-label" for="billTime">年度</label>
      <input type="text" name="billTime" class="uk-input uk-form-width-medium" placeholder="全部年度" readonly>
    </div>
    <div>
      <label class="uk-form-label" for="esbCustomerId">往来户编号</label>
      <input type="" name="esbCustomerId" class="uk-input uk-form-width-medium" placeholder="全部往来户编号">
    </div>
    <div>
      <label class="uk-form-label" for="accountId">商户编码</label>
      <input type="" name="accountId" class="uk-input uk-form-width-medium" placeholder="全部商户编号">
    </div>
    <div>
      <label class="uk-form-label" for="esbCustomerName">往来户名称</label>
      <input type="" name="esbCustomerName" class="uk-input uk-form-width-medium" placeholder="往来户名称">
    </div>
    <div>
      <label class="uk-form-label" for="billRuleId">账单类型</label>
      <select class="uk-select uk-form-width-medium" name="billRuleId">
        <option value="">全部类型</option>
      </select>
    </div>

  </div>

  <div class="uk-grid-small uk-flex-center" uk-grid>

    <div>
      <button id="submitBtn" class="button button-rounded uk-width-small button-primary" type="button">查询</button>
    </div>
    <div>
      <input type="reset" class="button button-rounded uk-width-small button-highlight uk-margin-small-left" value="重置">
    </div>
    <div>
      <button id="exportBtn" class="button button-rounded uk-width-small button-action uk-margin-small-left" type="button">导出数据</button>
    </div>

  </div>

</form>
<hr>
<div class="uk-overflow-auto">
  <table id="dataTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-hover">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-center" data-for="dataTable"></ul>