<input type="hidden" data-pageId="station_billsSetting_addRule">
<input type="hidden" name="url_station_billSetting" value=<%- urls.station.index + urls.station.billsSetting %>>
<input type="hidden" name="dict_api" value=<%= urls.api.dict%>>
<input type="hidden" name="api_stationCreateBillRule" value=<%= urls.api.station.createBillRule %>>
<section class="breadcrumb">
  <ul>
    <li>账单设置</li>
    <li><a href=<%- urls.station.index + urls.station.billsSetting %>> <%= title %></a></li>
    <li><%= subTitle %></li>
  </ul>
</section>
<hr>
<form id="dataForm" data-vld="station_billsSetting_addRule" class="uk-form-stacked">
  <div>
    <label class="uk-form-label">账单规则名称</label>
    <input type="text" id="billName" name="" class="uk-input uk-form-width-large">
  </div>
  <div id="radiosHeading" class="uk-heading-line uk-text-center uk-margin" hidden><span>以下为单选</span></div>
  <div id="radiosWrap">
  </div>
  <div id="checkboxesHeading" class="uk-heading-line uk-text-center uk-margin" hidden><span>以下为多选</span></div>
  <div id="checkAllWrap" class="uk-margin" hidden>
    <label class="void">
      <input type="checkbox" class="uk-checkbox" id="checkAllRules">
      <span class="uk-margin-small-left">全选</span>
    </label>
  </div>
  <div id="checkboxesWrap">
  </div>
  <hr>
  <div class="uk-padding uk-padding-remove-top uk-flex uk-flex-center">
    <button id="createBill" class="button button-rounded button-primary" type="button">生成账单规则</button>
    <a id="cancel" class="button button-rounded button-highlight uk-margin-small-left" href=<%- urls.station.index + urls.station.billsSetting %>>取消并返回</a>
  </div> 
</form>