<input type="hidden" name="dict_api" value=<%= urls.api.dict%>>
<input type="hidden" name="dict_api_queryType" value="DISCOUNT_TYPE">
<input type="hidden" name="api_queryCargo" value=<%= urls.api.queryCargo%>>
<input type="hidden" name="api_queryFeeItem" value=<%= urls.api.queryFeeItemRemove%>>
<input type="hidden" name="api_createDiscountPolicy" value=<%= urls.api.station.createDiscountPolicy%>>
<section class="breadcrumb">
  <ul>
    <li>用户管理</li>
    <li><%= title %></li>
  </ul>
</section>
<ul class="uk-flex-center uk-margin" id="discountType" uk-tab></ul>
<section id="form-container"></section>