<section class="breadcrumb">
  <ul>
    <li>账单管理</li>
    <li><%= title %></li>
  </ul>
</section>
<hr>
<form name="consumer_consumerQueryBillDetails" class="uk-grid-small fn_showTab fn_details" uk-grid data-showTab=<%= urls.api.consumer.consumerQueryBillDetails%> action=<%= urls.api.consumer.consumerBillDetailsExcel%> data-queryFeeItemUrl=<%= urls.api.queryFeeItem%>>
  <input type="hidden" name="orderNo" value=<%= orderNo %>>
  <div class="uk-width-1-4">
    <label class="uk-form-label" for="stockNo">运单号</label>
    <input class="uk-input" type="text" name="stockNo">
  </div>
  <div class="uk-width-1-4">
    <label class="uk-form-label" for="flight">航班号</label>
    <input class="uk-input" type="text" name="flight">
  </div>
  <div class="uk-width-1-4">
    <label class="uk-form-label" for="sAirPortid">始发站</label>
    <input class="uk-input" type="text" name="sAirPortid">
  </div>
  <div class="uk-width-1-4">
    <label class="uk-form-label" for="eAirPortid">目的站</label>
    <input class="uk-input" type="text" name="eAirPortid">
  </div>
  <section class="action-buttons">
    <button class="button button-primary button-rounded fn_showTab">查询</button>
    <input type="reset" class="button button-highlight button-rounded" value="清空">
    <button class="button button-action button-rounded fn_showExc">导出数据</button>
  </section>
</form>
<hr>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-middle uk-table-small uk-table-divider">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>